* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #28352f;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
  background-image: url("./media/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  margin-top: 30px;
  object-fit: cover;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 20px 20px;
}

.main-header a {
  width: 100px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.nav img {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 3px;
  top: 6px;
  padding: 5px 5px;
}

.main-section {
  background-position: center top;
  height: 400px;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
}

.main-section-title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #172b4d;
  display: flex;
  justify-content: center;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.h4-connect {
  color: #7f8cff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.main-section p {
  max-width: 90%;
  margin: 50px auto 52px;
  color: var(--primary);
  font-size: 20px;
  line-height: 28px;
  animation: left-right 1s ease-in-out;
  height: auto;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.projects-done img {
  border-radius: 8px;
  display: flex;
  justify-items: center;
  object-fit: cover;
}

.social-media-icons li a img {
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.social-media-icons li a img:hover {
  transform: scale(1.4);
}

.works-section {
  text-align: center;
  flex-flow: column nowrap;
}

.works-section-title h2::after {
  content: " ";
  display: block;
  max-width: 48px;
  height: 4px;
  margin: 24px auto 62px;
  background-color: var(--secondary);
}

.card {
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: grid;
  padding: 1%;
  margin-top: 20px;
}

.projects-done h2 {
  display: flex;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-done .time {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.projects-done ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: armenian;
  margin-right: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
}
