* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("./media/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  height: 604px;
  top: 92px;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 20px 20px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  height: 92px;
  left: 0;
  top: 0;
}

.main-header a {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #28352f;
}

.nav img {
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;
}

.main-section {
  background-position: center top;
  height: 400px;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
}

h1 {
  padding: 114px 24px 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

p {
  padding: 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  padding: 12px 0 12px 24px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 12px 0 12px 24px;
}

.social-media-icons li a img {
  margin-right: 20px;

  /* transition: all 0.3s ease-in-out; */
}

.social-media-icons li a img:hover {
  transform: scale(1.4);
}

.works-section {
  text-align: center;
  flex-flow: column nowrap;
}

.works-section-title h2::after {
  content: " ";
  display: block;
  max-width: 48px;
  height: 4px;
  margin: 24px auto 62px;
  background-color: var(--secondary);
}

.Work-projects {
  display: grid;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: auto;
}

.card {
  /* width: 100%; */
  background-color: white;
  padding: 2%;
  border-radius: 15px;
  margin: 5% 5% 5% 5%;
  padding-left: 7%;
}

.projects-done h2 {
  display: flex;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.projects-done .time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.projects-done ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.skills {
  display: flex;
  justify-content: start;
  font-size: 12px;
  font-weight: 600;
  padding-right: 10px;
  gap: 5px;
}

.skill-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.skill-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.skill-js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 25px;
  background: #ebebff;
  border-radius: 8px;
}

.skill-content {
  position: relative;
  color: #6070ff;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  border: 1px solid #7f8cff;
  background: #fff;
  border-radius: 8px;
  margin-top: 10px;
}

button:enabled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 100px;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

button:hover {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 140px;
  height: 48px;
  background: #2230d2;
  border-radius: 8px;
}

.resume {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-top: 10px;
}

.resume p {
  color: #396df2;
  width: 138px;
  height: 24px;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  color: #000;
  margin-bottom: 10px;
}

.frame0 {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  justify-items: center;
}

h6 {
  position: relative;
  height: 24px;
  left: 76px;
  right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #253858;
}

.languages-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.languages-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.Frameworks {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 730px;
  background: #6070ff;
  margin-top: 40px;
  border-radius: 75px 0 0 0;
  background-image: url(./media/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
}

.contact-form {
  display: flex;
  justify-content: center;
}

.contact-form h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 10px;
  padding-top: 120px;
}

.contact-me p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  padding: 40px 10px 10px 10px;
  color: #ebebff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  list-style-type: none;
  width: 100%;
  height: 120px;
  margin-top: 30px;
}

#name,
#email {
  height: 48px;
  padding: 5px 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  border: 1px solid #60c095;
  border-radius: 8px;
}

#textarea {
  height: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 8px;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
}
