* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  width: 100%;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("./media/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  height: 604px;
  top: 92px;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 20px 20px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  height: 92px;
  left: 0;
  top: 0;
}

.main-header a {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #28352f;
}

.nav img {
  left: 16.67%;
  right: 16.67%;
  top: 29.17%;
  bottom: 70.83%;
}

.main-section {
  background-position: center top;
  height: 400px;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
}

h1 {
  padding: 114px 24px 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

p {
  height: 146px;
  padding: 12px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  padding: 12px 0 12px 24px;
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 12px 0 12px 24px;
}

.social-media-icons li a img {
  margin-right: 20px;

  /* transition: all 0.3s ease-in-out; */
}

.social-media-icons li a img:hover {
  transform: scale(1.4);
}
